//colors
$primary: #004a80;
$secondary: #6c757d;

//fontsize
$fs-xxlarge: 6.6rem;
$fs-xlarge: 3.0rem;
$fs-large: 2.2rem;
$fs-medium: 1.6rem;
$fs-regular: 1rem;
$fs-small: 0.6rem;

//view size
$vs-small: 400px;
$vs-medium: 900px;